.search-content{
  margin-top: 46px;
  background-color: #e6ecf0;
  margin-bottom: -12px;
  min-height: calc(100vh - 46px);
  padding-bottom: 100px;
}
.search-container{
  position: relative;
  width: 40%;
  margin: auto;
  padding-top: 20px;
}
@media (max-width: 550px) {
  .search-container{
    width: 90%;
    margin: auto;
  }
}
.filter-users-input{
  margin-bottom: 10px;
}
