.add-new-post-box{
  width: 100%;
  background-color: #e8f5fd;
  min-height: 60px;
  border-radius: 5px;
  border: 1px solid #e6ecf0;
  box-sizing: border-box;
  line-height: 1.375em;
  padding: 13px 15px 15px;
  position: relative;
  padding-bottom: 35px;
}
.new-post-input{
  margin-left: 10%;
  height: 100px;
  line-height: 20px;
  width: 90%;
  border: 1px solid #93dbf2;
  border-radius: 10px;
  padding-left: 10px;
  resize: none;
  overflow: hidden;
  transition: all .2s linear;
  outline: none;
}
.submit-post-btn{
  position: absolute;
  right: 15px;
  font-size: 17px;
  font-family: 'Roboto';
  background: #1da1f2;
  border: 2px solid #1da1f2;
  border-radius: 10px;
  padding: 3px 10px;
  color: #fff;
}
.add-post-user-img{
  width: 9%;
  max-width: 40px;
  position: absolute;
  left:3%;
  top: 10px;
}
.new-post-input:focus{

}
